<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>История</title>
</head>
<body>
<h1 align="center">История города Пушкина</h1>
<a href="http://127.0.0.1:5000">< На главную страницу</a><br />
<p>
  <br />
  <br />
  <br />
  <br />
</p>
<style>
    p {
  padding-left: 500px;
  padding-top: 40px;
}
    h2 {
  padding-left: 500px;
  padding-top: 40px;
}
</style>
{% block content %}{% endblock %}
<h2 id="Vozniknovenie">Возникновение города</h2>
<p align="center">
    В шведское время (1609—1702) на территории Екатерининского дворца существовала шведская дворянская усадьба Саари Моис. Это была небольшая усадьба, состоявшая из деревянного дома, хозяйственных пристроек к нему и скромного сада, разделённого двумя перпендикулярными аллеями на четыре квадрата. Впервые это поселение упоминается в составе Никольского Ижорского погоста в «Переписной окладной книге по Новгороду Вотской пятины» 1501 года.
    На картах, составленных для Бориса Годунова, поместье имеет название «Сарица». Позднее, под влиянием русской народной этимологии, название трансформировалось в «Сарскую мызу», затем в «Саарское село», и, наконец, стало Царским Селом.
    После изгнания шведов из этого района Пётр I в 1707 году подарил мызу А. Д. Меншикову, а позднее, 13 (24) июня 1710 года, Сарская мыза (вместе с 43 приписанными деревнями и угодьями) была подарена Марте Скавронской, ставшей в 1712 году его женой под именем Екатерины Алексеевны.
    Эта дата — 13 (24) июня 1710 года — и является датой основания Царского Села. В 1718—1724 годах по проекту архитектора Иоганна Браунштейна здесь вырос небольшой двухэтажный каменный дворец, окружённый подсобными постройками. Был расширен сад, заново перепланированный террасами мастером садово-паркового искусства Я. В. Роозеном. В 1719 и 1722 годах на нижней террасе вырыли два пруда
    Недалеко от дворца возникла слобода дворцовых служителей. В 1716 году построена деревянная Успенская церковь: с этого момента Сарская мыза превращается в Сарское Село. В 1720 году возникает первая улица Царского Села — Садовая (изначальное название — Передняя улица). В 1721 году учреждена Кузьминская слобода из крестьян Суздальской губернии. В 1734 году началось строительство Знаменской церкви — старейшего каменного здания города.
</p>
</body>
</html>